
.custom-background {
  background: linear-gradient(to bottom right, #000000, #c3cfe2); 
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.welcome-card {
  border: 2px solid hsl(36, 66%, 63%); 
  background: linear-gradient(145deg, #c47b7b, #f9ae68e4); 
  box-shadow: 0 4px 6px rgba(31, 2, 2, 0.1);
}

.card-title {
  color: #150c0c; 
  font-size: 1.8rem;
  font-weight: bold;
}

.card-subtitle {
  color: #0f0808; 
  font-size: 1.2rem;
  margin-top: 0.5rem;
}


.custom-input-item {
  --highlight-color-focused: #ffffff; 
}

.custom-label {
  color: #1a0606; 
}


.login-button {
  background-color: #1a2024; 
  color: rgb(27, 20, 20);
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}


.login-button:hover {
  background-color: #040100; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link-text {
  color: #000000; 
  font-weight: bold;
  text-decoration: none;
}

.register-link-text:hover {
  text-decoration: underline;
  color: #0d7aee; 
}
